---
version: "3.8"
services:
  authelia:
    image: authelia/authelia:4.37.2
    restart: unless-stopped
    environment:
      AUTHELIA_JWT_SECRET: ${AUTHELIA_JWT_SECRET}
      AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_SECRET}
      AUTHELIA_STORAGE_POSTGRES_PASSWORD: ${AUTHELIA_POSTGRES_PASSWORD}
      AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: ${AUTHELIA_LDAP_PASSWORD}
{% if AUTHELIA_NOTIFIER_SMTP_PASSWORD %}
      AUTHELIA_NOTIFIER_SMTP_PASSWORD: ${AUTHELIA_NOTIFIER_SMTP_PASSWORD}
{% endif %}
    volumes:
      - ./config:/config:ro
    tmpfs:
      - /tmp
    ports:
      - 9091:9091
    networks:
      - default
      - auth
      - rproxy
      - ldap
    labels:
      - traefik.enable=true
      - traefik.http.routers.authelia.rule=Host(`auth.$BASE_DOMAIN`)
      - traefik.http.routers.authelia.entrypoints=https
      - traefik.http.routers.authelia.tls.certResolver=letsencrypt
      - traefik.http.middlewares.authelia.forwardAuth.address=http://authelia:9091/api/verify?rd=https%3A%2F%2Fauth.$BASE_DOMAIN%2F
      - traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader=true
      - traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email

  db:
    image: postgres:15.1-alpine3.16
    restart: unless-stopped
    read_only: true
    environment:
      POSTGRES_DB: authelia
      POSTGRES_USER: authelia
      POSTGRES_PASSWORD: ${AUTHELIA_POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    tmpfs:
      - /run
    networks:
      - default

volumes:
  db_data:

networks:
  default:
  auth:
    name: auth
  rproxy:
    external: true
  ldap:
    external: true
