global:
  sendAnonymousUsage: false
  checkNewVersion: false

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https

  https:
    address: :443
    http3: {}

certificatesResolvers:
{% if letsencrypt | default(true) %}
  letsencrypt:
    acme:
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: http
{% endif %}

providers:
  docker:
    exposedByDefault: false
    network: rproxy

# tracing:
#   openTelemetry:
#     address: http://otel-collector:4317
#     insecure: true
#     grpc: {}

# log:
#   format: json

# metrics:
#   openTelemetry:
#     address: otel-collector:4317
#     insecure: true
#     grpc: {}
#     addEntryPointsLabels: true
#     addRoutersLabels: true
#     addServicesLabels: true

api:
  dashboard: true
